<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Libros</h1>
    <table>
        
            <% libros.forEach(libro => { %>
                <tr>
                    <td>
                        ID: <%= libro.id %>
                    <td>
                        Nombre: <%= libro.nombre %>
                    </td>
                    <td>
                        Stock: <%= libro.stock %>
                    </td>
                    <td>
                       <img src="/imagenes/<%= libro.imagen %>" width="170px" height="150px" alt="imagen_local">
                    </td>
                    <td>
                        Editorial ID: <%= libro.editorial_id %>
                    </td>
                </td>
            <% }); %>
            
    </table>
</body>
</html>